@charset "UTF-8";
*{

    font-family: fantasy;
}
body{
    background-image: linear-gradient( to bottom, #ababf0 0%, #a785e2 40%, #A040FF 80%, #FF66CC 100%);
    background-attachment: fixed;
}
main{
    background-color:  rgba(158, 119, 221, 0.452);
    border-radius: 20px;
    width: 1200px;
    height: 1000px;
    padding: 10px;
    margin:auto;
    box-shadow: 5px 5px 20px rgba(158, 91, 14, 0.719);
}
h1{
    color:#a040ff8a;
    text-align: center;
    text-shadow: 1px 1px 2px #d460f7;

}
h3{
     color:#a040ff8a;
    text-align: center;
    text-shadow: 1px 1px 2px #d460f7;

}
h4{
color: #28064b;
text-shadow: 5px 5px 5px #f513b1;
}
p{
    text-align:justify;
}
hr{
    border-color: #28064b;
}
ol{
color:#fcb0ad;
text-align: center;
text-shadow: 1px 3px 1px #28064b;
}
ul{
color: #ffbfbd;
text-align: left;
}

