*{
    height: 100%
}
body{
background-image: linear-gradient(to top, #845ec2, #d65db1, #ff6f91, #ff9671, #ffc75f, #f9f871,#f0f0a2, #d3f8f8, #b961e7, #a974f3, #9d9eff, #a4c0ff, #c1deff, #eef7ff);
background-attachment: fixed;
}
h1{

}
h2{

}
h4{

}
audio{

}
button{

}